body {
    background:url('http://fc05.deviantart.net/fs32/f/2008/227/4/a/Ibex_Wallpaper_by_willwill100.png');
    font-family:arial;
    color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:white;
    color:black; 
    width: 500px; 
    padding: 20px;
    border-radius: 25px; 
    align-content: center;
    margin: auto
}